/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0%;
}
/* Les bulles de bières */
.bubble-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .bubble {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    animation: rise 6s infinite ease-in-out;
    opacity: 0.8;
    transform: rotate(0deg);
    will-change: transform;
  }
  
  .bubble:nth-child(2) {
    width: 10px;
    height: 10px;
    left: 10%;
    animation-duration: 5s;
    animation-delay: 1s;
    opacity: 0.6;
  }
  
  .bubble:nth-child(3) {
    width: 30px;
    height: 30px;
    left: 20%;
    animation-duration: 7s;
    animation-delay: 2s;
    opacity: 0.9;
  }
  
  .bubble:nth-child(4) {
    width: 15px;
    height: 15px;
    left: 30%;
    animation-duration: 5.5s;
    animation-delay: 3s;
    opacity: 0.7;
  }
  
  .bubble:nth-child(5) {
    width: 25px;
    height: 25px;
    left: 40%;
    animation-duration: 6.2s;
    animation-delay: 2.5s;
    opacity: 0.75;
  }
  
  .bubble:nth-child(6) {
    width: 12px;
    height: 12px;
    left: 50%;
    animation-duration: 4.5s;
    animation-delay: 1.8s;
    opacity: 0.6;
  }
  
  .bubble:nth-child(7) {
    width: 8px;
    height: 8px;
    left: 60%;
    animation-duration: 5s;
    animation-delay: 1.2s;
    opacity: 0.55;
  }
  
  .bubble:nth-child(8) {
    width: 18px;
    height: 18px;
    left: 70%;
    animation-duration: 6.5s;
    animation-delay: 3.1s;
    opacity: 0.8;
  }
  
  .bubble:nth-child(9) {
    width: 22px;
    height: 22px;
    left: 80%;
    animation-duration: 7.5s;
    animation-delay: 2.3s;
    opacity: 0.85;
  }
  
  .bubble:nth-child(10) {
    width: 28px;
    height: 28px;
    left: 90%;
    animation-duration: 6.2s;
    animation-delay: 2.7s;
    opacity: 0.65;
  }
  
  @keyframes rise {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 0.8;
    }
    25% {
      transform: translateY(-200px) rotate(15deg);
      opacity: 0.9;
    }
    50% {
      transform: translateY(-400px) rotate(30deg);
      opacity: 0.7;
    }
    75% {
      transform: translateY(-600px) rotate(45deg);
      opacity: 0.5;
    }
    100% {
      transform: translateY(-800px) rotate(60deg);
      opacity: 0;
    }
  }
  
  
  